nautilus_trader
numpy>=1.26  # version might be limited by numba and tensorflow
pandas>=2  # version might be important for parsing timestamps
numba  # For highlow label generator. numba 0.57.1 requires numpy<1.25,>=1.21,
# pyarrow  # If parquet is used. Alternatively fastparquet

apscheduler==3.10
click
# tqdm

# Features/label generation
# tsfresh  # if tsfresh feature generator is used. It depends on matrixprofile with binary (in pip) only for Python 3.8
ta-lib  # Python wrapper for TA-lib (native) library
pandas_ta

# Algorithms
scikit-learn==1.5
lightgbm>=4
tensorflow==2.14.1 # tensorflow>=2.16.*
# gymnasium # gymnasium[all] | gymnasium==0.26.1
tf-agents[reverb]
tf-keras==2.14.1
# keras
keras-tcn
gym-anytrading
ray[all]    # ==2.5.1
seaborn  # if diagrams are turned on

# logging
colorlog
requests
websockets
pydantic
python-dotenv
pyyaml
metatrader-sockets-client
cachetools==4.2.2
sqlalchemy==2.0.31


# others
# gymnasium>=0.28.1
pyyaml>=5.1.2
stochastic>=0.6.0
matplotlib>=3.1.1
plotly>=4.5.0
deprecated>=1.2.13

# server
flask==3.0.0 # via flask-jsonrpc
flask-jsonrpc==1.1.0
jsonrpcclient==4.0.3
jsonrpcserver==5.0.9
jsonschema==4.20.0 # via jsonrpcserver
jsonschema-specifications==2023.12.1 # via jsonschema
